@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.menu {
    background-color: white;
    width: 100%;
    height: 96px;
    position: absolute;
}

.divmenu {
    display: flex;
    flex-direction: row;
}

.setaelogo {
    display: flex;
    flex-direction: row;
}

.logo1 {
    width: 146px;
    height: 36px;
    margin-left: 160px;
    margin-top: 26px;
}

i {
    color: #A0ACB2;
    font-size: 20px;
}

.seta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #DCE2E6;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 26px;
    margin-left: 40px;
}

.seta:hover {
    border-color: #A0ACB2;
}

.teresopolis {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    margin-top: 35px;
    color: #A0ACB2;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    color: #115D8C;
    background-color: #DDE9F0;
    width: 174px;
    height: 48px;
    border-radius: 10px;
    margin-top: 24px;
}

.login:hover {
    background-color: #cddae2;
}

